/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
box-sizing: border-box;
}
* {
margin: 0;
}
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
#root, #__next {
isolation: isolate;
}
  
:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;

}


.image {
    width: 35vw;
    background-color: green;
}

.headings {
    margin: 0px 0px 5vw 0px;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms {
    width: calc((100vw - 35vw) - 20vw);
    margin: 4vw;
}

.label-sep {
    display: flex;
    flex-direction: column;
}

.input-elem {
    display: flex;
    flex-direction: rpw;
}